<div class="flex items-start" *ngIf="application$ | async as application">
  <div class="m-2 p-2 flex-none bg-yellow-500 grid grid-cols-1 gap-4 shadow-lg border border-orange-300">
    <div>
      <label class="block uppercase mb-1">Application Id</label>
      <input class="px-1" name="id" type="text" disabled value="1" />
    </div>
    <div>
      <label class="block uppercase mb-1">Subject</label>
      <div><input id="car" type="radio" name="subject" value="CAR" class="mx-1"><label for="car">Car</label></div>
      <div><input id="boat" type="radio" name="subject" value="BOAT" class="mx-1" checked><label for="boat">Boat</label></div>
      <div><input id="scooter" type="radio" name="subject" value="SCOOTER" class="mx-1"><label for="scooter">Scooter</label></div>
    </div>
    <div>
      <label class="block uppercase mb-1">Status</label>
      <div><input id="approved" type="radio" name="status" value="APPROVED" class="mx-1" checked><label for="approved">Approved</label></div>
      <div><input id="declined" type="radio" name="status" value="DECLINED" class="mx-1"><label for="declined">Declined</label></div>
    </div>
    <button class="bg-orange-300 p-1 hover:shadow-md hover:bg-orange-400 focus:shadow-md focus:bg-orange-400" (click)="downloadPDF(application.id)">Download PDF</button>
    <a class="hidden" #downloadTarget></a>
  </div>
  <loan-pdf-decision-letter class="shadow-lg flex-grow m-2 bg-gray-100 border border-orange-300" [model]="application"></loan-pdf-decision-letter>
</div>
