<div class="flex justify-center items-center">
  <img src="assets/shark.png" class="h-24">
  <h1 class="text-4xl font-semibold ml-4">Totes legit loan service</h1>
</div>
<nav class="bg-yellow-500 my-4 p-2">
  <div><a href="#home" class="underline"> &lt; Back to application list</a></div>
</nav>
<router-outlet></router-outlet>
