<p>application-list works!</p>
<ul>
<li *ngFor="let application of applications$ |async">
    <a [routerLink]="['/applications', application.id]">{{application.id}} - {{application.subject}} - {{application.status}}</a>
</li>
</ul>
